.comHead{
    width: 100%;
    height: 30vh;
    background-color: lightyellow;
}
.comBody{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
   
}
.images{
    max-width: 170px;
    padding-top: 20px;
}
h3{
    padding: 0 0 0 10px;
    color: red;
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
h3:hover{
    text-decoration: underline;
}
/*paragraph style start from here */
.para{
    margin-top: 10px;
    text-align: left;
    padding: 50px 100px;

}
.para p{
    margin-top: 30px;
    line-height: 25px;
}
