* {
  font-family: "Arial Narrow Bold", sans-serif;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 350px;
  height: 300x;
}

span {
  font-weight: bold;
  margin-top: 20px;
  font-size: 24px;
  text-transform: capitalize;
}
p {
  margin-top: 20px;
  font-size: 16px;
  color: darkslategray;
  word-wrap:break-word;
  height: fit-content;
}

@media screen and (max-width : 647px ) {
    p{
      width: 250px;
      
    }
}