.footer {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  background: orangered;
}

ul {
  list-style: none;
}
li {
  margin: 10px;
}
.links{
  text-decoration: none;
  color: white;
}
.links:hover{
    text-decoration: underline;
}

.secThree p, .secFour p{
    color: white;
    margin-top: 5px;
    padding-bottom: 10px;
   text-align: left;
}

@media screen and (max-width : 824px) {
  .footer {
    flex-direction: column;
    padding: 50px;
    text-align: left;
  }
}
